<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" uib-dropdown is-open="status.isopen">        
        <li class="dropdown">
          <a id="single-button" class="dropdown-toggle" uib-dropdown-toggle role="button" data-toggle="dropdown" href="#">
             Madhavi Chavan <i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>          
        </li>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a href="#">My Profile</a></li>      
          <li class="divider"></li>
          <li role="menuitem"><a href="#">Logout</a></li>
        </ul>
      </ul>
    </div>
  </div><!-- /container -->
</div>
   